# docker system prune -a to remove data

version: '3'
services:
      
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/code
    entrypoint: /entrypoint.sh

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/.next
      - /app/node_modules
    depends_on:
      - backend
